In [87]:
import pandas as pd

In [88]:
from sqlalchemy import create_engine

In [89]:
from time import time

In [90]:
pd.__version__

'2.2.3'

In [91]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)

In [92]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime) 
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [93]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [94]:
print(pd.io.sql.get_schema(df, name='green_trip_data'))

CREATE TABLE "green_trip_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [95]:
table_name='green_trip_data'

In [96]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000, low_memory=False)

df = next(df_iter)

df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

df.to_sql(name=table_name, con=engine, if_exists='append')

1000

In [97]:
while True: 
    try:
        t_start = time()
        
        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name=table_name, con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

inserted another chunk, took 6.511 second
inserted another chunk, took 6.690 second
inserted another chunk, took 6.642 second
inserted another chunk, took 6.733 second
Finished ingesting data into the postgres database

In [98]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")

In [99]:
print(pd.io.sql.get_schema(f_zones, name='zones'))

CREATE TABLE "zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [100]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265